pylint==2.15.9
numpy==1.24.0
pandas
snscrape
transformers
nltk
pydantic
tweepy
python-dotenv
jupyter
matplotlib
seaborn
scikit-learn
scikit-plot
textblob
wordcloud
xgboost
lightgbm
catboost
tensorflow
keras
